<launch>
  <arg name="multi_robot_name" default=""/>

  <node pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="115200"/>
  </node>

  <node pkg="service_robot_bringup" type="service_robot_bringup" name="service_robot_bringup" output="screen"/>

</launch>
